# Data Structures in Python
 1. **List**: A list is an ordered collection of items that can be of different types. Lists are mutable, meaning you can change their contents after they are created. They are defined using square brackets `[]` and can contain duplicate elements. Example: `my_list = [1, 'hello', 3.14]`
 2. **Tuple**: A tuple is an ordered collection of items that can be of different types, similar to a list. However, tuples are immutable, meaning you cannot change their contents after they are created. They are defined using parentheses `()` and can contain duplicate elements. Example: `my_tuple = (1, 'hello', 3.14)`
 3. **Set**: A set is an unordered collection of unique items. Sets are mutable, but they do not allow duplicate elements. They are defined using curly braces `{}` or the `set()` function. Example: `my_set = {1, 'hello', 3.14}`
 4. **Dictionary**: A dictionary is an unordered collection of key-value pairs. Dictionaries are mutable and do not allow duplicate keys. They are defined using curly braces `{}` with key-value pairs separated by a colon `:`. Example: `my_dict = {'name': 'Alice', 'age': 30}`
 5. **String**: A string is an ordered collection of characters. Strings are immutable and are defined using single quotes `''`, double quotes `""`, or triple quotes `''' '''`. Example: `my_string = "Hello, World!"`

In [1]:
# Example for data structures
list =[]
for i in range(5):
    list.append(i)
print(list)

[0, 1, 2, 3, 4]

In [3]:
list[0]

0

In [6]:
#updating index 0 and adding 5 at the end
list[0]= 10
list.append(5)

In [7]:
list

[10, 1, 2, 3, 4, 5]

In [8]:
list.remove(10)

In [9]:
list

[1, 2, 3, 4, 5]

In [20]:
tuple_example= ()
for i in range(5):
    tuple_example += (i,)
print(tuple_example)

(0, 1, 2, 3, 4)

In [21]:
#update tuple index of 0
tuple_example[0]= 10

TypeError: 'tuple' object does not support item assignment

In [22]:
#To update a tuple you can create a new tuple with the desired changes and concatenate it with the existing tuple. Here's how you can update the first element of the tuple to 10:
tuple_example = (20,) + tuple_example[:]

In [23]:
tuple_example

(20, 0, 1, 2, 3, 4)

In [25]:
# list basic syntax
my_list = [1, 2, 3, 'hello', 3.14]
print(my_list)

#to add an element to the list
my_list.append('world')
print(my_list)

#to access an element in the list
print(my_list[0])  # Output: 1

#To remove the last element from the list
my_list.pop()
print(my_list)

#to remove the first occurrence of an element from the list
my_list.remove(1)
print(my_list)

[1, 2, 3, 'hello', 3.14]
[1, 2, 3, 'hello', 3.14, 'world']
1
[1, 2, 3, 'hello', 3.14]
[2, 3, 'hello', 3.14]

In [26]:
#Example for set
my_set = {1, 2, 3, 'hello', 3.14}
print(my_set)

{1, 2, 3.14, 3, 'hello'}

In [27]:
#to add an element to the set
my_set.add('world')
print(my_set)

{1, 2, 3.14, 3, 'hello', 'world'}

In [28]:
#to remove an element from the set
my_set.remove(1)
print(my_set)

#duplicate elements are not allowed in a set
my_set.add(2)
print(my_set)

{2, 3.14, 3, 'hello', 'world'}
{2, 3.14, 3, 'hello', 'world'}

In [30]:
#Basic operations in sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

#Union of sets
union_set = set1.union(set2)
print("Union:", union_set)
#Intersection of sets
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)
#Difference of sets
difference_set = set1.difference(set2)
print("Differenceof set1- set2 ", difference_set)

difference_set = set2.difference(set1)
print("Differenceof set2- set1 ", difference_set)

#Symmetric difference of sets
sym_diff_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", sym_diff_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Differenceof set1- set2  {1, 2}
Differenceof set2- set1  {4, 5}
Symmetric Difference: {1, 2, 4, 5}

In [31]:
#Example for dictionary
my_dic= {'name':'George', 'age': 30, 'city': 'New York'}
print(my_dic)

{'name': 'George', 'age': 30, 'city': 'New York'}

In [32]:
#Shallow copy of a dictionary: which helps to create a new dictionary that is a copy of the original dictionary. However, it does not create a deep copy of the objects contained within the dictionary. If the original dictionary contains mutable objects (like lists or other dictionaries), changes made to those objects in the shallow copy will affect the original dictionary as well.
shallow_copy = my_dic.copy()
print("Shallow Copy:", shallow_copy)

Shallow Copy: {'name': 'George', 'age': 30, 'city': 'New York'}